.card-header {
    background-color: var(--main-gray);
    border-color: var(--main-gray);
}

#total-client {
    background-color: #346e98;
    border-color: #346e98;
}

#total-mecanicien {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

#rdv-attente {
    background-color: #ffba39;
    border-color: #ffba39;
}

#rdv-annule {
    background-color: #e54646;
    border-color: #e54646;
}