<main class="container-fluid px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="fw-bold">Tableau de bord</h2>
    </div>

    <!-- Statistiques générales -->
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white mb-3" id="total-client">
                <div class="card-body">
                    <h5 class="card-title">Total Clients</h5>
                    <p class="card-text fs-3">{{ totalClients }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white mb-3" id="total-mecanicien">
                <div class="card-body">
                    <h5 class="card-title">Total Mécaniciens</h5>
                    <p class="card-text fs-3">{{ totalMecaniciens }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white mb-3" id="rdv-attente">
                <div class="card-body">
                    <h5 class="card-title">Rendez-vous en attente</h5>
                    <p class="card-text fs-3">{{ rdvEnAttente }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white mb-3" id="rdv-annule">
                <div class="card-body">
                    <h5 class="card-title">Rendez-vous annulés</h5>
                    <p class="card-text fs-3">{{ rdvAnnule }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Activité récente -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header text-white">
                    <h5>Derniers clients inscrits</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th class="text-center">Inscription</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of lastClients" class="text-nowrap">
                                    <td>{{ client.nom }}</td>
                                    <td>{{ client.email }}</td>
                                    <td class="text-center">{{ formatDate(client.createdAt) }} </td>
                                </tr>
                            </tbody>
                        </table>
                        @if (lastClients.length == 0) {
                        <div
                            class="bg-warning rounded bg-opacity-10 d-flex justify-content-center align-items-center p-3">
                            Aucun rendez-vous
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header text-white">
                    <h5>Derniers mécaniciens ajoutés</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th class="text-center">Spécialité</th>
                                    <th class="text-center">Date Embauche</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mecanicien of lastMecaniciens" class="text-nowrap">
                                    <td>{{ mecanicien.nom }}</td>
                                    <td class="text-center">{{ mecanicien.specialite || '-' }}</td>
                                    <td class="text-center">{{ formatDate(mecanicien.createdAt) }}</td>
                                </tr>
                            </tbody>
                        </table>
                        @if (lastMecaniciens.length == 0) {
                        <div
                            class="bg-warning rounded bg-opacity-10 d-flex justify-content-center align-items-center p-3">
                            Aucun rendez-vous
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Prochains rendez-vous -->
    <div class="card mt-4">
        <div class="card-header text-white">
            <h5>Prochains rendez-vous</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Client</th>
                            <th>Mécanicien</th>
                            <th>Service</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rendezvous of nextRendezVous" class="text-nowrap">
                            <td>{{ formatDate(rendezvous.date) }}</td>
                            <td>{{ rendezvous.heure }}</td>
                            <td>{{ rendezvous.client.nom }}</td>
                            <td>{{ rendezvous.mecanicien[0].nom }}</td>
                            <td>{{ rendezvous.services }}</td>
                            <td><span class="badge" [ngClass]="{
                                            'bg-warning': rendezvous.status === 'en attente',
                                            'bg-success': rendezvous.status === 'confirmé',
                                            'bg-info': rendezvous.status === 'assigné',
                                            'bg-danger': rendezvous.status === 'annulé',
                                            'bg-light text-dark': rendezvous.status === 'disponible',
                                            'bg-primary': rendezvous.status === 'réservé',
                                            'bg-secondary': rendezvous.status === 'terminé'
                                        }">
                                    {{ rendezvous.status }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @if (nextRendezVous.length == 0) {
                <div class="bg-warning rounded bg-opacity-10 d-flex justify-content-center align-items-center p-3">
                    Aucun rendez-vous
                </div>
                }
            </div>
        </div>
    </div>

</main>