<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Gestion des utilisateurs</h2>
    </div>

    <div *ngIf="!utilisateurs" class="alert alert-info">
        Cliquez sur le bouton pour charger la liste des utilisateurs.
    </div>

    <!-- Filtre et bar de recherche -->
    <div class="row mb-3 align-items-center">
        <div class="col-md-3 mb-sm-3">
            <div class="input-group">
                <span class="input-group-text bg-white border-end-0">
                    <i class="bi bi-search text-muted"></i>
                </span>
                <input type="text" class="form-control border-start-0" placeholder="Rechercher..."
                    [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
            </div>
        </div>
        <div class="col-md-3 mb-sm-3">
            <select class="form-select" [(ngModel)]="selectedRole" (ngModelChange)="onRoleChange()">
                <option value="">Tous les rôles</option>
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
        </div>
        <!-- Bouton actualiser (pas affiché) -->
        <div class="col-md-3 mb-sm-3 d-flex justify-content-end">
            <button class="btn btn-outline-secondary d-flex align-items-center d-none" (click)="getAllUsers()">
                <i class="bi bi-arrow-repeat me-1"></i>
                <span>Actualiser</span>
            </button>
        </div>
        <div class="col-md-3 mb-sm-3 d-flex justify-content-end">
            <button class="btn btn-sidebar d-flex align-items-center" style="margin-left: 0;" data-bs-toggle="modal"
                data-bs-target="#userModal" (click)="prepareNewUser()">
                <i class="bi bi-plus-lg me-1"></i>
                <span>Ajouter un utilisateur</span>
            </button>
        </div>
    </div>

    @if (deleteMessage) {
    <div class="p-1 mb-3 text-white text-center rounded" style="background-color: #59d88e;">{{ deleteMessage }}</div>
    }

    <div class="card mt-4">
        <div class="card-header text-white" style="background-color: #4e657c; border-color: #34495E;">
            <h5>Utilisateurs</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" *ngIf="filteredUsers.length > 0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="text-center">Spécialité</th>
                            <th class="text-center">Date d'embauche</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let utilisateur of filteredUsers">
                            <td>{{ utilisateur.nom }}</td>
                            <td>{{ utilisateur.email }}</td>
                            <td>{{ utilisateur.role }}</td>
                            <td class="text-center">{{ utilisateur.specialite || '-' }}</td>
                            <td class="text-center">{{ utilisateur.role == 'mecanicien' ?
                                formatDate(utilisateur.createdAt) : '-' }}</td>
                            <td class="icons">
                                <i class="bi bi-trash me-3" id="deleteIcon" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Supprimer"
                                    (click)="deleteUser(utilisateur._id)"></i>
                                <i class="bi bi-pencil me-3" id="editIcon" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Modifier" data-bs-toggle="modal"
                                    data-bs-target="#userModal" (click)="prepareEditUser(utilisateur)"></i>
                                <!-- <i class="bi bi-card-text" style="color: rgb(242, 199, 80);" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Détails"></i> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="filteredUsers.length === 0" class="alert alert-warning text-center">
                    Aucun utilisateur trouvé.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Utilisateur (Ajout/Modification) -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #34495E;">
                <h5 class="modal-title text-white" id="userModalLabel">
                    {{ isEditMode ? 'Modifier l\'utilisateur' : 'Ajouter un nouvel utilisateur' }}
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (errorMessage) {
                <div class="p-1 mb-3 text-white text-center bg-danger rounded">{{errorMessage}}</div>
                }
                @if (successMessage) {
                <div class="p-1 mb-3 text-white text-center rounded" style="background-color: #59d88e;">
                    {{successMessage}}</div>
                }
                <form [formGroup]="userForm">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom complet</label>
                        <input type="text" class="form-control" id="nom" formControlName="nom"
                            placeholder="Entrez le nom complet">
                        <div *ngIf="userForm.get('nom')?.invalid && userForm.get('nom')?.touched" class="text-danger">
                            Le nom est requis
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email"
                            placeholder="Entrez l'email">
                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                            class="text-danger">
                            Un email valide est requis
                        </div>
                    </div>
                    <div class="mb-3" *ngIf="!isEditMode">
                        <label for="password" class="form-label">Mot de passe</label>
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                                formControlName="motDePasse" placeholder="Entrez le mot de passe">
                            <button class="btn" type="button" (click)="togglePasswordVisibility()"
                                style="background-color: rgb(224, 224, 224);">
                                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                            </button>
                        </div>
                        <div *ngIf="userForm.get('motDePasse')?.invalid && userForm.get('motDePasse')?.touched"
                            class="text-danger">
                            Le mot de passe doit contenir au moins 8 caractères
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Rôle</label>
                        <select class="form-select" id="role" formControlName="role">
                            <option value="">Sélectionnez un rôle</option>
                            <option value="manager">Manager</option>
                            <option value="client">Client</option>
                            <option value="mecanicien">Mécanicien</option>
                        </select>
                        <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="text-danger">
                            Le rôle est requis
                        </div>
                    </div>
                    <div class="mb-3" *ngIf="userForm.get('role')?.value === 'mecanicien'">
                        <label for="specialite" class="form-label">Spécialité</label>
                        <input type="text" class="form-control" id="specialite" formControlName="specialite"
                            placeholder="">
                        <small class="form-text text-muted">Exemples: moteur, transmission, freinage, etc.</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn px-4 text-white" [disabled]="userForm.invalid"
                    (click)="submitUserForm()" style="background-color: #34495E;">
                    {{ isEditMode ? 'Mettre à jour' : 'Enregistrer' }}
                </button>
            </div>
        </div>
    </div>
</div>