<div class="container mt-5 devis">
  <!-- Affichage pour les clients -->
  <div *ngIf="userRole == 'client'">
    <!-- Liste des devis -->
    <div *ngIf="devis && devis.length > 0">
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-header bg-info text-white py-3">
          <h5 class="mb-0 d-flex align-items-center">
            <i class="bi bi-file-earmark-text me-2"></i>
            Liste des devis
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover mb-0">
              <thead class="table-light">
                <tr>
                  <th>Mécanicien</th>
                  <th>Services</th>
                  <th>Coût des services</th>
                  <th>Status</th>
                  <th>Pièces</th>
                  <th>Prix TTC</th>
                  <th>Total général</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of devis">
                  <td>{{ d.mecanicien?.nom }}</td>
                  <td>
                    <ul class="list-unstyled">
                      <li *ngFor="let service of d.services">
                        {{ service.description }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-unstyled">
                      <li *ngFor="let service of d.services">
                        {{ service.coutServices | currency:'AR' }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <span class="badge rounded-pill px-2" [ngClass]="{
                      'bg-warning': d.status === 'En attente',
                      'bg-success': d.status === 'Validé',
                    }">
                      {{ d.status }}
                    </span>
                  </td>
                  <td>
                    <ul class="list-unstyled">
                      <li *ngFor="let piece of d.pieces">
                        {{ piece.nom }} ({{ piece.quantite }} x {{ piece.prixUnitaireTTC }})
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-unstyled">
                      <li *ngFor="let piece of d.pieces">
                        {{ piece.prixUnitaireTTC | currency:'AR' }}
                      </li>
                    </ul>
                  </td>
                  <td>{{ d.totalGeneral | currency:'AR' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Si la liste des devis est vide -->
    <div *ngIf="!devis || devis.length === 0">
      <div class="alert alert-warning" role="alert">
        Aucun devis disponible.
      </div>
    </div>
  </div>



  <!-- Affichage pour les mécaniciens -->
  <div *ngIf="userRole == 'mecanicien'">
    <div class="card mb-4">
      <div class="card-header bg-info text-white">
        <h5 class="d-flex align-items-center">
          <i class="bi bi-file-earmark-plus me-2"></i>
          Créer un nouveau devis
        </h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="creerDevis()">
          <div class="container mt-5">
            <div class="mb-3">
              <label for="clientControl" class="form-label">Nom du client</label>
              <input type="text" class="form-control" id="clientControl"
                placeholder="Entrez et Séléctionner un nom de client" [formControl]="clientControl"
                (focus)="showDropdown = true" required>
              <ul *ngIf="showDropdown && (filteredUsers$ | async) as filteredUsers" class="list-group custom-dropdown">
                <li *ngFor="let client of filteredUsers" class="list-group-item list-group-item-action"
                  (click)="selectUser(client)">
                  {{ client.nom }}
                </li>
              </ul>
              <div *ngIf="!selectedUser" class="text-danger fs">Veuillez saisir et selecionner</div>
            </div>

            <!-- Champs pour services -->
            <div class="mb-3">
              <label for="services" class="form-label">Services</label>
              <textarea type="text" class="form-control" [(ngModel)]="newDevis.services[0].description"
                name="description" placeholder="Déscription du service"></textarea>
              <div *ngIf="isFieldEmpty(0, 'description')" class="text-danger fs">Ce champ est requis</div>
            </div>

            <div class="mb-3">
              <label for="coutServices" class="form-label">Coût des services</label>
              <input type="number" class="form-control" [(ngModel)]="newDevis.services[0].coutServices"
                name="coutServices" (input)="calculTotal()" required>
              <div *ngIf="isFieldEmpty(0, 'coutServices')" class="text-danger fs">Le coût doit être renseigné</div>
            </div>
          </div>

          <!-- Composant Pièces -->
          <app-pieces (pieceAdded)="onPieceAdded($event)"></app-pieces>

          <!-- Liste des pièces ajoutées -->
          <div class="container mt-5">
            <div class="d-flex align-items-center mb-4">
              <span class="me-2" style="font-size: 1.5em;">🧩</span>
              <h5 class="mb-0">Pièces du Devis</h5>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th>Nom</th>
                    <th>Référence</th>
                    <th>Prix TTC</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let piece of newDevis.pieces; let i = index">
                    <td>{{ piece.nom }}</td>
                    <td>{{ piece.reference }}</td>
                    <td>{{ piece.prixUnitaireTTC | currency:'AR'}}</td>
                    <td>{{ piece.quantite }}</td>
                    <td>{{ piece.total | currency: 'AR' }}</td>
                    <td>
                      <button (click)="removePiece(i)" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> Supprimer
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <div class="total">
              TOTAL {{ newDevis.totalGeneral }} AR
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-success mt-5 btn-lg">Créer le devis</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="success" class="alert alert-success rounded-3 border-0 shadow-sm mb-4">
      {{ success }}
    </div>
    <div *ngIf="errorMp" class="alert alert-danger rounded-3 border-0 shadow-sm mb-4">
      {{ errorMp }}
    </div>

    <div class="card">
      <div class="card-header bg-info text-white">
        <h5 class="d-flex align-items-center">
          <i class="bi bi-file-earmark-text me-2"></i>
          Liste des devis
        </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Client</th>
                <th>Services</th>
                <th>Coût des services</th>
                <th>Status</th>
                <th>Pièces</th>
                <th>Prix TTC</th>

                <th>Total générale </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of devis">
                <td>{{ d.client.nom }}</td>
                <td>
                  <ul class="list-unstyled">
                    <li *ngFor="let service of d.services">
                      {{ service.description }}
                    </li>
                  </ul>
                </td>
                <td>
                  <ul class="list-unstyled">
                    <li *ngFor="let service of d.services">
                      {{ service.coutServices | currency:'AR'}}
                    </li>
                  </ul>
                </td>
                <td> <span class="badge rounded-pill px-2" [ngClass]="{
                'bg-warning': d.status === 'En attente',
                'bg-success': d.status === 'Validé',
              }">
                    {{ d.status }}
                  </span> </td>
                <td>
                  <ul class="list-unstyled">
                    <li *ngFor="let piece of d.pieces">
                      {{ piece.nom }}
                    </li>
                  </ul>
                </td>
                <td>
                  <ul class="list-unstyled">
                    <li *ngFor="let piece of d.pieces">
                      {{ piece.prixUnitaireTTC | currency:'AR' }}
                    </li>
                  </ul>
                </td>
                <td>{{ d.totalGeneral | currency:'AR' }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Si la liste des devis est vide -->
    <div *ngIf="!devis || devis.length === 0">
      <div class="alert alert-warning" role="alert">
        Aucun devis disponible.
      </div>
    </div>
  </div>

  <!-- Affichage po ur les managers -->
  <div *ngIf="userRole == 'manager'">

    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="fw-bold">Devis</h2>
    </div>

    <!-- Liste des devis avec actions -->
    <div *ngIf="devis && devis.length > 0; else noDevis">
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-header bg-info text-white py-3">
          <h5 class="mb-0 d-flex align-items-center">
            <i class="bi bi-file-earmark-text me-2"></i>
            Liste des Devis
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead class="table-light">
                <tr>
                  <th class="ps-4">Client</th>
                  <th>Mécanicien</th>
                  <th>Services</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of devis">
                  <td class="ps-4">{{ d.client?.nom || 'Client non spécifié' }}</td>
                  <td>{{ d.mecanicien?.nom || 'Mécanicien non spécifié' }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let service of d.services">
                        {{ service.description }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <span class="badge rounded-pill px-2" [ngClass]="{
                    'bg-warning': d.status === 'En attente',
                    'bg-success': d.status === 'Validé',
                  }">
                      {{ d.status }}
                    </span>
                  </td>
                  <td>
                    <button class="btn btn-warning btn-sm m-2" (click)="selectDevis(d)">
                      <i class="bi bi-pencil"></i> 
                  </button>
                  <button class="btn btn-success btn-sm m-2" (click)="validerDevis(d._id)">
                      <i class="bi bi-check-circle"></i> 
                  </button>
                  <button class="btn btn-danger btn-sm m-2" (click)="supprimerDevis(d._id)">
                      <i class="bi bi-trash"></i> 
                  </button>
                  <!-- <button class="btn btn-primary btn-sm m-2" (click)="envoyerMail(d)">
                      <i class="bi bi-envelope"></i> 
                  </button> -->
                  <button class="btn btn-secondary btn-sm m-2" (click)="imprimerDevis(d)">
                      <i class="bi bi-printer"></i> 
                  </button>
                  
                  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="successMail" class="alert alert-success rounded-3 border-0 shadow-sm mb-4">
        {{ successMail }}
      </div>
    </div>

    <ng-template #noDevis>
      <div class="card">
        <div class="card-body text-center">
          <h5>Aucun devis disponible</h5>
        </div>
      </div>
    </ng-template>

    <!-- Formulaire de modification de devis -->
    <div *ngIf="selectedDevis" class="card mt-4">
      <div class="card-header bg-info text-white">
        <h5 class="d-flex align-items-center">
          <i class="bi bi-pencil me-2"></i>
          Modifier un devis
        </h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="modifierDevis(selectedDevis._id)">
          <div class="d-flex align-items gap-3">
            <div class="form-group mb-3 devisUser">
              <label for="client" class="form-label"><i class="bi bi-person-circle"></i> Client</label>
              <div class="form-control-plaintext ">{{ selectedDevis.client?.nom }}</div>
            </div>
            <div class="form-group mb-3 devisUser">
              <label for="mecanicien" class="form-label"><i class="bi bi-tools"></i> Mécanicien</label>
              <div class="form-control-plaintext ">{{ selectedDevis.mecanicien?.nom }}</div>
            </div>
          </div>

          <!-- Affichage et modification de services -->
          <div *ngFor="let service of selectedDevis.services; let i = index">
            <div class="form-group mb-3">
              <label for="serviceDescription{{i}}">Déscription du service </label>
              <input type="text" class="form-control" [(ngModel)]="selectedDevis.services[i].description"
                [name]="'serviceDescription' + i" required>
            </div>

            <div class="form-group mb-3">
              <label for="serviceCoutServices{{i}}">Coût du service </label>
              <input type="number" class="form-control" [(ngModel)]="selectedDevis.services[i].coutServices"
                [name]="'serviceCoutServices' + i" (input)="calculTotalModification()" required>
            </div>
          </div>

          <!-- Affichage et modification de pièces -->
          <div class="form-group mb-3">
            <label for="pieces" class="">Pièces</label>
            <div *ngFor="let piece of selectedDevis.pieces; let j = index">
              <div class="row mb-4">
                <!-- Nom de la pièce -->
                <div class="col-md-3">
                  <label for="pieceNom-{{j}}" class="font-petit">Nom de la pièce</label>
                  <input type="text" class="form-control" [(ngModel)]="piece.nom" name="pieceNom-{{j}}"
                    placeholder="Nom de la pièce" required>
                </div>

                <div class="col-md-3">
                  <label for="pieceReference-{{j}}" class="font-petit">Référence</label>
                  <input type="text" class="form-control" [(ngModel)]="piece.reference" name="pieceReference-{{j}}"
                    placeholder="Référence de la pièce" required>
                </div>

                <div class="col-md-3">
                  <label for="piecequantite-{{j}}" class="font-petit">Quantité </label>
                  <input type="number" class="form-control" [(ngModel)]="piece.quantite" name="piecequantite-{{j}}"
                    placeholder="Quantité de la piece" (input)="calculTotalModification()" required>
                </div>

                <div class="col-md-2">
                  <label for="piecePrixUnitaireTTC-{{j}}" class="font-petit">Prix Unitaire TTC</label>
                  <input type="number" class="form-control" [(ngModel)]="piece.prixUnitaireTTC"
                    name="piecePrixUnitaireTTC-{{j}}" (input)="calculTotalModification()" placeholder="Prix HT"
                    required>
                </div>
              </div>
            </div>
          </div>
          <div class="total">
            TOTAL {{ selectedDevis.totalGeneral }} AR
          </div>
          <div class="form-group  text-center">
            <button type="submit" class="btn btn-warning mt-3">Mettre à jour le devis</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>