/* You can add global styles to this file, and also import other style files */
:root {
    --main-gray: #4e657c;
    --main-bleu: #346e98;
    --main-bleu-deep: #34495E;
    --main-vert: #1ABC9C;
    --main-orange: #ffba39;
    --main-rouge: #e54646;
}

body {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
