.form-select {
    width: 100%;
    min-width: 200px;
}

.form-select option {
    white-space: normal;
}

.mb-3 {
    box-shadow: 1px;
}

.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
}

h3 {
    margin-top: 20px;
}

/* .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
} */